.header{
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    color: red;
    margin-right: 10px;
    margin-left: 10px;
}
.name{
    color: white;
    font-size: 30px;
}
.brand{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 20%;
}

.searchbar{
    flex-basis: 80%;
}
